<form [formGroup]="storeForm">
    <div>
        <label>Datum:</label>
        <input type="date" formControlName="costDate" />
    </div>
    <div>
      <label>Valuta:</label>
      <input type="text" formControlName="currency" />
    </div>

  <div>
    <button type="button" (click)="addNew()">Dodaj novi trosak</button>
    <button type="button" (click)="deleteMarked()">Obrisi oznacene</button>
  </div>

  <ng-container formArrayName="costs">
    <div *ngFor="let cost of storeForm.get('costs').controls; let i = index" [formGroupName]="i">
      <div>
          <label>Product name:</label>
          <input type="text" formControlName="productName" />
      </div>
      <div>
        <label>Product category:</label>
        <select>
            <option></option>
            <option></option>
          </select>
      </div>
      <div>
        <label>Quantity:</label>
        <input type="number" formControlName="quantity" />
      </div>
      <div>
        <label>Measure unit:</label>
        <select>
          <option></option>
          <option></option>
        </select>
      </div>
      <div>
        <label>Price:</label>
        <input type="number" formControlName="price" />
      </div>
      <div>
        <label>Delete:</label>
        <input type="checkbox" formControlName="markedForDeletion" />
      </div>
    </div>
  </ng-container>

  </form>